* {
	padding: 0;
	margin: 0;
}

canvas {
	margin: auto;
}

body {
	text-align: center;
	background: url('../images/bodyBg.jpg');
	background-size: cover;
/*	background-repeat: no-repeat;*/
	height: 100vh;
}


@media only screen and (max-width: 600px) {
  canvas {
    
    position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        max-height: 100%;
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
  }
}